@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fredoka';
    src: url('./src/fonts/static/Fredoka-Bold.ttf') format('truetype'),
        url('./src/fonts/static/Fredoka-Medium.ttf') format('truetype'),
        url('./src/fonts/static/Fredoka-Regular.ttf') format('truetype'),
        url('./src/fonts/static/Fredoka-SemiBold.ttf') format('truetype'),
        url('./src/fonts/static/Fredoka-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$orangeMash : #EB6E44;


:root {
        margin: 0;
        padding: 0;
        font-family: Fredoka, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: #000;
        background-color: #f5f3f3;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }
    #root {
            margin: 0;
            padding: 0;
            width:100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }
        a:hover {
            color: $orangeMash;
        }
        button {
            background-color: #f9f9f9;
        }
    }

    header {
        position: static;
        background-color: rgb(29, 30, 29);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        padding: 0 1em;
        transition: position 6s;
    }

    .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 600px;
        position: relative;
        top: 10px;
        right: -.5%;
    }

    .hr-pos {
        position: relative;
        top: -5px;
        right: -6%;
    }

    .header-left {
        margin: 0.2em 0;
        width: 12%;
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        padding-top: 20px;
        background-color: rgb(29, 30, 29);
    }


    .header-top {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        background-color: rgb(29, 30, 29);
        justify-content: space-between;
    }

    .header-bottom {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(29, 30, 29);
    }

    .hb-display {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .pb-1 {
        padding-bottom: .5em;
    }

    nav, nav ul {
        display: flex;
        width: 100%;
        list-style: none;
        padding: 0;
    }

    nav ul li {
        font-size: 1.4rem;
        font-family: 'Inter', sans-serif;
        margin: 0 1em;
        position: relative;
        left: 26%;
    }

    nav {
        a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.25s;
            font-size: 1em;

            &:hover {
                color: $orangeMash;
            }

            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 50%;
                background-color: $orangeMash;
                transition: all 0.3s;
                transform: translateX(-50%);
            }

            &:hover::before {
                width: 100%;
            }
        }
    }


    .search-bar {
        border-radius: 20px;
        border: 1px solid rgb(160, 157, 157);
        padding: 0.2em 1.2em;
        font-size: 1em;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        background-color: #4e4b4b;
        cursor: pointer;
        transition: border-color 0.25s;
        color: #fd8725;
        width:40%;
        margin-bottom: 1em;
    }

    .search-bar:focus {
        outline-color: #EB6E44;
        outline-style: solid;
        outline-width: 2px;
        color: rgb(247, 241, 241);
    }

    .icon {
        width: 5em;
        margin : 0 1em;
        cursor: pointer;
    }

    .orangeMashFont {
        color: $orangeMash;
    }

    .orangeMashFont:hover {
        color: white;
    }

    .orangeMashBg {
        background-color: $orangeMash;
    }

    .disabled {
        display:none;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 200px;
        margin: 0.5em 0;
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .logo {
        width: 100%;
    }

    .logo-sm-container {
        margin: 0;
        width: 100px;
        position: relative;
        top: 0;
        left: -5%;
    }

    .logo-sm {
        width: 100%;
    }

    .side-menu-btn {
        background-color: $orangeMash;
        position: absolute;
        top: 105px;
        left:0;
        z-index:50;
        border-bottom-right-radius: 15px;
        padding: 0.5em;
        border-right: 2px solid rgb(43, 41, 41);
        border-top: 2px solid rgb(43, 41, 41);
        border-bottom: 2px solid rgb(43, 41, 41);
    }

    .sidem-btn-pos {
        background-color: $orangeMash;
        position: absolute;
        top: 83px;
        left:0;
        z-index:100;
        border-bottom-right-radius: 15px;
        padding: 0.2em 0.5em;
        border-right: 2px solid rgb(43, 41, 41);
        border-top: 2px solid rgb(43, 41, 41);
        border-bottom: 2px solid rgb(43, 41, 41);
    }

    .icon-menu {
        width: 2em;
        cursor: pointer;
    }

    .icon-menu-open {
        margin-bottom: 1em;
    }

    .menu-open {
        display: flex;
        flex-direction: column;
        min-width: 225px;
        padding: 0 1em 0 .5em;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 100;
        border: 2px solid rgb(43, 41, 41);
        border-radius: 8px;
    }

    .list-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-menu li {
        font-size: 1rem;
        margin: 0 1em;
        padding: 0.3em 0;
        border-radius: 5px;
        width: 96%;
        text-align: center;
        margin: 0.3em auto;
        background-color: #EB6E44;
        color:  rgb(43, 41, 41);
        font-weight: bold;
    }

    .list-menu li:hover {
        background-color: #bb5735;
        color:white ;
    }

    @keyframes wiggle {
        0% { transform: rotate(0deg); }
        20% { transform: rotate(-10deg); }
        40% { transform: rotate(10deg); }
        60% { transform: rotate(-10deg); }
        80% { transform: rotate(10deg); }
        100% { transform: rotate(0deg); }
    }

    .wiggle {
        animation: wiggle 0.3s ease-in-out;
    }


// CAROUSEL

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.slideshow {
    margin: 2% auto 0;
    overflow: hidden;
    max-width: 98vw;
}

.slideshowSlider {
    white-space: nowrap;
    transition: 1000ms ease;
}

.slide {
    display: inline-block;
    width: 19.3%;
    height: 200px;
    margin: 0 5px;
}

.picture-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform 500ms ease-in;
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms ease-in;
}

/* Buttons */
.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.gallery-container {
    width:98%;
    margin: 150px auto;
    padding: 0;
}

//INTRO SITE

.intro {
    position: relative;
    background-color: #ffffff;
    padding-bottom: 1em;
    margin-top: 280px;
    width: 70%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.intro-title {
    font-size: 2rem;
    font-weight: bold;
    color: $orangeMash;
    text-align: center;
    margin: 150px 0 50px 0;

    position: relative;
    top:30px;
}

.intro-container {
    display: flex;
    flex-direction: raw;
    justify-content: space-around;
    align-items: center;
}

.intro-text {
    width: 30%;
    text-align: start;
}

.intro-text div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.intro-text h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.intro-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-picture video {
    width:80%;
}


//SLIDER new resources

.slide-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slide-news h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $orangeMash;
    text-align: center;
    margin: 50px 0 50px 0;
}

.slider-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.arrow-left {
    cursor: pointer;
    z-index: 100;
    font-size: 1.6em;
    color: $orangeMash;
}

.arrow-right {
    cursor: pointer;
    z-index: 100;
    font-size: 1.6em;
    color: $orangeMash;
}

.slide-news-container {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

.bg-item {
    width: 70px;
    height: 40px;
    margin: 0 1.2em;
}

.slide-news-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color:  rgb(43, 41, 41);
    font-weight: bold;
}

.slide-news-item.selected {
    background-color: #EB6E44;
}

.slide-news-item:hover {
    background-color: #bb5735;
    color:white ;
}